@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 1.5; //2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(1.5)
  }

  &__toc {
    width: 100%;
    padding: 10px 20px;
  }

  &__series {
    @include margin-bottom(1);
    padding: 10px;
    max-width: $layout-post-width;
    font-size: $typographic-small-font-size;
    border : solid 1px rgb(138, 138, 138) ;

    &-title {
      font-size: $typographic-small-font-size * 1.2;
    }

    &-link {
      //color: $color-base;
      &:hover,
      &:focus {
        color: $color-primary;
      }

      &-select {
        color: $color-base;
      }
    }

    &-series-wrap{
      display: inline-block;
      float: left;
    }
    &-series-number{
      display: inline-block;
    }
    &-series-post-title{
      display: inline-block;
    }
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 100%;
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 1.75;
      @include line-height(1.75);
      @include margin-top(2.25);
      @include margin-bottom(1.5)
    }

    &__series {
      max-width: $layout-post-width;
      font-size: $typographic-base-font-size * 1.125;

      &-title {
        font-size: $typographic-base-font-size * 1.3;
      }
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125)
      }

    }

  }

}